# -----------------------
# Python / Compilation
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
*.so

# -----------------------
# Virtual env
# -----------------------
venv/
.venv/

# -----------------------
# IDE / OS
# -----------------------
.vscode/
.idea/
.DS_Store
Thumbs.db
_logs_list.pkl
static/icons/*
!static/icons/.gitkeep

# -----------------------
# Logs runtime
# -----------------------
_loggers/
*.log

# -----------------------
# Données générées par les scripts
# -----------------------
LogsDir/*
!LogsDir/.gitkeep

LogsRaw/*
!LogsRaw/.gitkeep

uploads/uploaded/*
!uploads/uploaded/.gitkeep

uploads/tmp/*
!uploads/tmp/.gitkeep

uploads/0file_info/*
!uploads/0file_info/.gitkeep

pending_archive/*
!pending_archive/.gitkeep

archives/*
!archives/.gitkeep

_logs_list.pkl
_logs_list.bkp

*.7z
*.zip

# -----------------------
# Bases locales (on garde l’arbo, on ignore le contenu)
# -----------------------
db/top/*
!db/top/.gitkeep

db/gear/*
!db/gear/.gitkeep

db/speedrun/*
!db/speedrun/.gitkeep

# -----------------------
# Caches
# -----------------------
.cache/

